* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*****LAYOUT*****/

.top-shell {
    display: flex;
}

.bottom-shell {
    display: flex;
    height: 70px;
}

.play-bar {
    height: 100%;
}

/*****UTILITIES*****/

.fa-plus {
    color: black;
    font-size: 20px;
    background-color: #878787;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    margin-right: 12px;
}

.fa-user-circle {
    font-size: 24px;
    line-height: 24px;
}

/***SIDEBAR***/

.top-shell .side-bar {
    width: 40px;
    background-color: #000;
    color: #878787;
    display: flex;
    flex-direction: column;
    height: 800px;
    align-items: center;
}

.top-shell .side-bar .side-bar-middle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.top-shell .side-bar .side-bar-top, .top-shell .side-bar .side-bar-bottom {
    flex-shrink: 0;
} 

.top-shell .side-bar .side-bar-top .small-logo {
    display: inline-block;
    width: 22px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 5px;
}

.top-shell .side-bar .side-bar-top .full-logo {
  display: none;
}

.top-shell span {
    display: none;
}

.top-shell .side-bar .side-bar-top ul li i {
    font-size: 20px;
    color: #878787;
    width: 25px;
    text-align: center;
    padding: 5px 0;
}

.side-bar-middle-container {
    display: none;
}

.top-shell .side-bar .side-bar-bottom i {
    width: 25px;
    text-align: center;
    padding: 7px 0;
}


@media screen and (min-width: 416px){

.top-shell .side-bar {
    width: 230px;
    padding-left: 20px;
    align-items:flex-start
}

.top-shell span {
    display: inline;
}

.top-shell .side-bar .side-bar-top {
    padding-top: 20px;
}

.top-shell .side-bar .side-bar-top .small-logo {
    display: none;
}

.top-shell .side-bar .side-bar-top .full-logo {
    display: inline-block;
    width: 130px;
    padding-bottom: 20px;
}

.top-shell .side-bar ul li {
    display: block;
    list-style: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 35px;
}

.top-shell .side-bar .side-bar-top ul li a {
    display: inline-block;
    text-decoration: none;
    color: #878787;
}

.top-shell .side-bar .side-bar-top ul li a i {
    font-size: 25px;
    margin-right: 10px;
    vertical-align: middle;
}

.top-shell .side-bar .side-bar-top ul li span {
   line-height: 35px;
   vertical-align: middle;
}

.side-bar-middle-container {
    display: block;
}
.new-playlist {
    font-size: 14px;
    font-weight: 700;
    line-height: 38px;
}

.top-shell .side-bar .side-bar-middle h4 {
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
    font-size: 14px;
}

.top-shell .side-bar .side-bar-middle ul {
    padding-top: 10px;
    padding-bottom: 20px;
}

.top-shell .side-bar .side-bar-bottom .install-row {
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 1px solid #878787;
}

.top-shell .side-bar .side-bar-bottom .user-row {
    padding-top: 10px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 10px;
}

.top-shell .side-bar .side-bar-bottom .user-name, .top-shell .side-bar .side-bar-bottom .installa-app {
    vertical-align: middle;
} 

.top-shell .side-bar .side-bar-bottom i {
    padding-right: 10px;
    vertical-align: middle;
}

}


