* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*****LAYOUT*****/

.top-shell {
    height: calc(100vh - 70px);
    background-color: goldenrod;
    display: flex;
    width: 100%;
}

.side-bar {
    color: #878787;
    width: 40px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex-shrink: 0;
}

.side-bar-top, .side-bar-bottom {
    flex-shrink: 0;
} 

.side-bar-middle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-container {
    width: 100%;
    height: 100%;
    background-color:#141922;
    overflow: auto;
}

.play-bar-shell {
    background-color: #282828;
    padding: 0 5px;
    width: 100%;
    position: fixed;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.play-bar-left, .play-bar-right {
    min-width: 25%;
    max-width: 40%;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
}

.play-bar-center {
    flex-grow: 4;
}



/***SIDEBAR***/

.side-bar-top .small-logo {
    display: inline-block;
    width: 25px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 5px;
}

.side-bar-top .full-logo {
  display: none;
}

.top-shell span {
    display: none;
}

.side-bar-top ul li img {
    width: 23px;
    padding: 3px 0;
}

.side-bar-middle-container {
    display: none;
}

.side-bar-bottom {
    text-align: center;
}

.side-bar-bottom .download-icon {
    width: 12px;
    padding-bottom: 10px;
}

.side-bar-bottom .profile-icon {
    background-color: #c1c1c1;
    border-radius: 50%;
    width: 20px;
    height:20px;
    object-fit:cover;
    margin-bottom: 5px;
}

/********************MAIN********************/

.upgrade-section {
    height: 70px;
    width: 100%;
    background-color: #080B12;
    text-align: right;
    padding-right: 5px;
}

.upgrade-section button {
    border: 1px solid #c1c1c1;
    padding: 10px 30px;
    border-radius: 20px;
    background-color:  #080B12;
    color: white;
    font-size: 10px;
    font-weight: 600;
    margin-top: 15px;
}

.upgrade-section button:hover {
    font-size: 12px;
}

.main-nav-section, .albums-section {
    padding: 0 15px;
}

.main-nav-section ul {
    list-style: none;
    text-align: center;
    margin-left: -5px;
}

.main-nav-section ul li{
    display: inline-block;
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
}

.main-nav-section ul li a {
    text-decoration: none;
    color: #878787;
    font-size: 11px;
    font-weight: 700;
    line-height: 40px;
}
.albums-section {
    padding-top: 20px;
}

.albums-section h2 {
    color: white;
    font-size: 20px;
}

.albums-section h5 {
    color: #c1c1c1;
    font-size: 10px;
    padding: 10px 0;
}

.album-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    column-gap: 5px;
}

.album-card {
    width: calc((100% /2) - 5px);
}

.img-card-container {
    width: 100%;
    text-align: center;
} 

.album-card img{
    width: 100%;
    height: auto;
}

.album-card .album-description {
    text-align: center;
    padding-bottom: 10px;

}

.album-card h3 {
    color: white;
    font-size: 13px;
    padding: 10px 0;
}

.album-card .subtitle {
    color: #878787;
    font-size: 10px;
    font-weight: 600;
}

/********************PLAY-BAR-SHELL********************/

.play-bar-left-container {
    height: 80%;
    display: flex;
    align-items: flex-start;
}

.play-bar-left-container img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.track-description {
    padding-left: 5px;
}

.track-description h3{
    font-size: 10px;
    color: white;
}

.track-name {
    font-size: 9px;
    color: #c1c1c1;
    font-weight: 600;
}
.track-actions {
    vertical-align: middle;
}

.track-actions i {
    font-size: 12px;
    color: #c1c1c1;
    padding-left: 10px;
}

.play-bar-center-container {
    width: 100%;
    color: white;
}

.command-line {
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-container {
    height: 30px;
    width: 40px;
}

.command-line i {
    font-size: 13px;
    margin: 0 10px;
    color: white;
}

.command-line .fa-play-circle {
    font-size: 24px;
    text-align: center;
    line-height: 30px;
}

.bigger-icon:hover {
    font-size: 28px;
}

.progress-line {
    display: flex;
    align-items:center;
    padding-top: 10px;
    justify-content: center;
}

.time-before, .time-after {
    font-size: 8px;
    padding: 0 5px;
}

.time-bar {
    border: 2px solid #c1c1c1;
    flex-grow: 2;
    height: 0px;
    max-width: 550px;
    position: relative;
}

.time-bar::after {
    content: "";
    width: 10%;
    height: 0px;
    border: 2px solid #5a5a5a;
    position: absolute;
    top: 1;
    left: 0;

}


.play-bar-right-container {
    display: flex;
    align-items: center;
    color: white;
    justify-content: flex-end;
    gap: 10px;
}

.play-bar-right-container i {
    font-size: 10px;
}

.volume-bar{
    flex-grow: 1;
    border: 2px solid #c1c1c1;
    height: 0px;
    max-width: 110px;
}

.white-hover:hover {
    color: white;
}




















@media screen and (min-width: 600px){

.side-bar {
    width: 230px;
    padding-left: 20px;
    align-items:flex-start
}

.side-bar-top, .side-bar-middle, .side-bar-bottom {
    width: 100%;
}

.top-shell span {
    display: inline;
}

.side-bar-top {
    padding-top: 20px;
}

.side-bar-top .small-logo {
    display: none;
}

.side-bar-top .full-logo {
    display: inline-block;
    width: 130px;
    padding-bottom: 25px;
}

.side-bar ul li {
    display: block;
    list-style: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 35px;
}

.side-bar-top ul li a {
    text-decoration: none;
    color: #878787;
}

.side-bar-top ul li img {
    width: 25px;
    margin-right: 10px;
    vertical-align: middle;
}

.side-bar-top ul li span {
   line-height: 35px;
   vertical-align: middle;
}

.side-bar-middle-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.side-bar-middle .fa-plus {
    color: black;
    font-size: 20px;
    background-color: #878787;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    margin-right: 12px;
}

.side-bar-middle .new-playlist {
    font-size: 14px;
    font-weight: 700;
    line-height: 38px;
}

.side-bar-middle h4 {
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
    font-size: 14px;
}

.side-bar-middle ul {
    flex-grow: 1;
    padding-top: 10px;
    padding-bottom: 20px;
    overflow: auto;
}

.side-bar-bottom {
    text-align: left;
}

.side-bar-bottom .install-row {
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 1px solid #878787;
}


.side-bar-bottom .user-row {
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
    width: 100%;
}

.side-bar-bottom .user-name, .side-bar-bottom .download-app {
    vertical-align: middle;
    line-break: 20px;
    padding-left: 10px;
} 

.side-bar-bottom .download-icon, .side-bar-bottom .profile-icon {
    vertical-align: middle;
    padding: 5px 0;
}

}

@media screen and (min-width: 700px) {
    .album-card {
        width: calc((100% /4) - 5px);
    }

}

@media screen and (min-width: 1100px) {
    .album-card {
        width: calc((100% /6) - 5px);
    }

}